Source: ferru-archive-keyring
Section: admin
Priority: optional
Maintainer: Christopher M. Bryan <christoferus.21@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: https://github.com/KnightChristopher2000/Ferrugix-OS

Package: ferru-archive-keyring
Architecture: all
Depends: ${misc:Depends}
Description: Ferrugix OS APT archive keyring
 This package installs the public GnuPG key used to sign the Ferrugix OS
 APT repository metadata into /usr/share/keyrings.

